[Unit]
Description=Web-based remote controlled countdown
After=network.target

[Service]
ExecStart=/home/pi/Countdown/Docs/RaspberryPi/run.sh
WorkingDirectory=/home/pi/Countdown/Docs/RaspberryPi
Restart=always

[Install]
WantedBy=multi-user.target
