@using System.Net
@using System.Net.Sockets
@using Countdown.Model
@using QRCoder
@using System.IO
@page "/Remote"

@inject Information Information;

<div class="main-container">
    <a href="/">Compte à rebours</a>

    <div class="container">
        <h4>Scanne le QR Code pour accéder à l'application</h4>
        <p>ou alors va sur <a href="@RemoteUrl">@RemoteUrl</a></p>
        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(_qrCodeByteArray))" height="300" width="300"/>  
    </div>
</div>
@code {
    protected byte[] _qrCodeByteArray;

    protected string RemoteUrl => Information.ApplicationUrl;

    protected override void OnInitialized()
    {
        QRCodeGenerator qrGenerator = new QRCodeGenerator();
        QRCodeData qrCodeData = qrGenerator.CreateQrCode(RemoteUrl, QRCodeGenerator.ECCLevel.M);
        QRCoder.PngByteQRCode qrCode = new PngByteQRCode(qrCodeData);
        _qrCodeByteArray = qrCode.GetGraphic(20);

        base.OnInitialized();
    }
}
